.table-wrapper {
    max-width: 100%; /* Ensure the table width is responsive */
    overflow-x: auto; /* Enable horizontal scrolling */
    margin-bottom: 10px; /* Adds some space below the table */
  }
  
  .pagination-wrapper {
    display: flex;
    justify-content: center; /* Center the paginator */
    margin-top: 10px; /* Adds space between table and paginator */
  }
  
  mat-paginator {
    width: 100%; /* Ensure the paginator width is aligned with the table */
  }
  