<!-- <div class="outer-container"> -->
    <div class="container">
        <div class="user-data-form modal-content">
          <div class="form-wrapper m-auto">
            <ul class="nav nav-tabs border-0 w-100" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link" [ngClass]="{'active': activeTab === 'login', 'active-tab': activeTab === 'login'}" (click)="setActiveTab('login')" role="tab" aria-selected="true">Login</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" [ngClass]="{'active': activeTab === 'signup', 'active-tab': activeTab === 'signup'}" (click)="setActiveTab('signup')" role="tab" aria-selected="false">Signup</button>
              </li>
            </ul>
            <div class="tab-content mt-30">
              <!-- Login -->
              <div class="tab-pane" [ngClass]="{'show active': activeTab === 'login'}" role="tabpanel">
                <div class="text-center mb-20">
                  <h2>Hi, Welcome Back!</h2>
                  <p>Still do not have an account? <a href="#" (click)="setActiveTab('signup')">Sign up</a></p>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="m-t-30">
                  <div class="row">
                    <div class="col-12">
                      <div class="input-group-meta position-relative m-b-16">
                        <label>Username/Email*</label>
                        <input formControlName="username" type="email" name="email" id="email" placeholder="Youremail@gmail.com">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="input-group-meta position-relative m-b-16">
                        <label>Password*</label>
                        <input formControlName="password" type="password" name="password" id="password" placeholder="Enter Password" class="pass_log_id">
                      </div>
                    </div>
                    
                    <div class="col-12">
                      <button type="submit" class="btn-four w-100 tran3s d-block m-t-20">Login</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- Login -->
    
              <!-- Register -->
              <div class="tab-pane" [ngClass]="{'show active': activeTab === 'signup'}" role="tabpanel">
                <div class="text-center m-b-14">
                  <h2>Register</h2>
                  <p>Already have an account? <a href="#" (click)="setActiveTab('login')">Login</a></p>
                </div>
                <form  [formGroup]="registerForm" (ngSubmit)="submitRegister()">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group-meta position-relative m-b-16">
                        <label>First Name*</label>
                        <input formControlName="first_name" type="text" name="name" id="name" placeholder="John" >
                        <div style="color: red;"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group-meta position-relative m-b-16">
                        <label>Last Name*</label>
                        <input formControlName="last_name" type="text" name="name" id="name" placeholder="Doe" >
                        <div style="color: red;"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group-meta position-relative m-b-16">
                        <label>Username*</label>
                        <input formControlName="username" type="text" name="name" id="name" placeholder="johnDoe2025" >
                        <div style="color: red;"></div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="input-group-meta position-relative m-b-16">
                        <label>Email*</label>
                        <input formControlName="email" type="email" name="email" id="email" placeholder="johnDoe@gmail.com">
                        <div style="color: red;"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group-meta position-relative m-b-16">
                        <label>Password*</label>
                        <input formControlName="password" type="password" name="password" id="password" placeholder="Enter Password" class="pass_log_id">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group-meta position-relative m-b-16">
                        <label>Confirm Password*</label>
                        <input formControlName="confirm_password" type="password" name="password" id="password" placeholder="Enter Password" class="pass_log_id">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="agreement-checkbox d-flex justify-content-between align-items-center">
                        <div>
                          <input type="checkbox" id="remember2">
                          <label for="remember2">By hitting the Register button, you agree to the <a href="#">Terms conditions</a> &amp; <a href="#">Privacy Policy</a></label>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn-four w-100 tran3s d-block m-t-20">Sign up</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- Register -->
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->