<div class="row">
   <div class="col-lg-8">
      <mat-card class="welcome mat-mdc-card mdc-card shadow-none bg-light-primary overflow-hidden">
         <mat-card-content class="mat-mdc-card-content p-32 p-b-0">
            <div class="row justify-content-between">
               <div class="col-sm-6">
                  <mat-card-title class="mat-mdc-card-title">Welcome back
                     {{user?.name }}!
                  </mat-card-title>
                  <mat-card-subtitle class="mat-mdc-card-subtitle f-s-14 f-w-400 m-t-16 lh-24 m-b-24">You have
                     earned 54% more
                     than last month which is great thing.
                  </mat-card-subtitle>
                  <button mat-flat-button="" mat-ripple-loader-uninitialized=""
                     mat-ripple-loader-class-name="mat-mdc-button-ripple"
                     class="mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-unthemed mat-mdc-button-base"><span
                        class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                        class="mdc-button__label">Check</span><span class="mat-focus-indicator"></span><span
                        class="mat-mdc-button-touch-target"></span></button>
               </div>
               <div class="col-sm-5"><img src="assets/images/backgrounds/welcome-bg2.png" alt="welcome" width="300"
                     class="welcome-img"></div>
            </div>
         </mat-card-content>
      </mat-card>
   </div>
   <div class="col-lg-4">
      <div class="row">
         <div class="col-sm-6">
            <mat-card class="mat-mdc-card mdc-card cardWithShadow">
               <mat-card-content class="mat-mdc-card-content">
                  <span class="bg-light-primary rounded icon-40 d-flex align-items-center justify-content-center"><img
                        src="assets/images/svgs/icon-paypal.svg" alt="paypal"></span>
                  <mat-card-subtitle class="mat-mdc-card-subtitle f-s-14 f-w-400 p-b-4 m-t-24">Payments
                     Sum
                  </mat-card-subtitle>
                  <h5 class="f-s-21 m-t-4 f-w-600">$678,298</h5>
                  <div class="d-flex align-items-center m-t-16">
                     <button mat-mini-fab=""
                        class="bg-light-success text-success shadow-none icon-27 d-flex align-items-center justify-content-center mdc-fab mat-mdc-fab-base mdc-fab--mini mat-mdc-mini-fab mat-accent mat-mdc-button-base"
                        mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple">
                        <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span>
                        <span class="mdc-button__label">
                           <i-tabler name="arrow-up-left" class="icon-20 d-flex" _nghost-ng-c2605515766="">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                 <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                 <path d="M7 7l10 10"></path>
                                 <path d="M16 7l-9 0l0 9"></path>
                              </svg>
                           </i-tabler>
                        </span>
                        <span class="mat-focus-indicator"></span><span class="mat-mdc-button-touch-target"></span>
                     </button>
                     <div class="f-s-14 f-w-600 m-l-12">+9%</div>
                  </div>
               </mat-card-content>
            </mat-card>
         </div>
         <div class="col-sm-6">
            <mat-card class="mat-mdc-card mdc-card cardWithShadow">
               <mat-card-content class="mat-mdc-card-content p-t-32 p-b-32 m-b-20">
                  <mat-card-subtitle class="mat-mdc-card-subtitle f-s-14 f-w-400 p-b-4">My investment
                     Growth
                  </mat-card-subtitle>
                  <h5 class="f-s-21 m-t-4 f-w-600">78,298</h5>
               </mat-card-content>
               <apx-chart [series]="monthlyChart.series" [dataLabels]="monthlyChart.dataLabels"
                  [chart]="monthlyChart.chart" [legend]="monthlyChart.legend" [colors]="monthlyChart.colors"
                  [stroke]="monthlyChart.stroke" [tooltip]="monthlyChart.tooltip"
                  [plotOptions]="monthlyChart.plotOptions" [responsive]="monthlyChart.responsive">
               </apx-chart>
            </mat-card>
         </div>
      </div>
   </div>
   <div class="col-lg-4">
      <mat-card class="mat-mdc-card mdc-card cardWithShadow">
         <mat-card-header class="mat-mdc-card-header">
            <div class="mat-mdc-card-header-text">
               <mat-card-title class="mat-mdc-card-title">Monthly Updates</mat-card-title>
            </div>
         </mat-card-header>
         <mat-card-content class="mat-mdc-card-content">
            <apx-chart [series]="salesOverviewChart.series" [dataLabels]="salesOverviewChart.dataLabels"
               [chart]="salesOverviewChart.chart" [legend]="salesOverviewChart.legend"
               [xaxis]="salesOverviewChart.xaxis" [yaxis]="salesOverviewChart.yaxis" [grid]="salesOverviewChart.grid"
               [stroke]="salesOverviewChart.stroke" [tooltip]="salesOverviewChart.tooltip"
               [plotOptions]="salesOverviewChart.plotOptions"></apx-chart>
            <div class="d-flex align-items-center justify-content-between">
               <div class="transaction-item">
                  <div class="transaction-content">
                     <div class="icon-container">
                        <img src="assets/images/svgs/icon-paypal.svg" alt="Paypal Icon">
                     </div>
                     <div class="transaction-details">
                        <h6 class="transaction-title">Paypal</h6>
                        <span class="transaction-subtitle">Big Brands</span>
                     </div>
                  </div>
               </div>
               <div class="transaction-item">
                  <div class="transaction-content">
                     <div class="icon-container">
                        <img src="assets/images/svgs/icon-paypal.svg" alt="Paypal Icon">
                     </div>
                     <div class="transaction-details">
                        <h6 class="transaction-title">Paypal</h6>
                        <span class="transaction-subtitle">Big Brands</span>
                     </div>
                  </div>
               </div>
            </div>
         </mat-card-content>
      </mat-card>
   </div>
   <div class="col-lg-4">
      <mat-card class="mat-mdc-card mdc-card cardWithShadow">
         <mat-card-header class="mat-mdc-card-header">
            <div class="mat-mdc-card-header-text">
               <mat-card-title class="mat-mdc-card-title">Investment Growth</mat-card-title>
            </div>
         </mat-card-header>
         <mat-card-content class="mat-mdc-card-content">
            <apx-chart [series]="salesOverviewChart.series" [dataLabels]="salesOverviewChart.dataLabels"
               [chart]="salesOverviewChart.chart" [legend]="salesOverviewChart.legend"
               [xaxis]="salesOverviewChart.xaxis" [yaxis]="salesOverviewChart.yaxis" [grid]="salesOverviewChart.grid"
               [stroke]="salesOverviewChart.stroke" [tooltip]="salesOverviewChart.tooltip"
               [plotOptions]="salesOverviewChart.plotOptions"></apx-chart>
            <div class="d-flex align-items-center justify-content-between">
               <div class="transaction-item">
                  <div class="transaction-content">
                     <div class="icon-container">
                        <img src="assets/images/svgs/icon-paypal.svg" alt="Paypal Icon">
                     </div>
                     <div class="transaction-details">
                        <h6 class="transaction-title">Paypal</h6>
                        <span class="transaction-subtitle">Big Brands</span>
                     </div>
                  </div>
               </div>
               <div class="transaction-item">
                  <div class="transaction-content">
                     <div class="icon-container">
                        <img src="assets/images/svgs/icon-paypal.svg" alt="Paypal Icon">
                     </div>
                     <div class="transaction-details">
                        <h6 class="transaction-title">Paypal</h6>
                        <span class="transaction-subtitle">Big Brands</span>
                     </div>
                  </div>
               </div>
            </div>
         </mat-card-content>
      </mat-card>
   </div>
   <div class="col-lg-4">
      <div class="row">
         <div class="col-sm-6">
            <mat-card class="mat-mdc-card mdc-card cardWithShadow">
               <mat-card-content class="mat-mdc-card-content p-y-30">
                  <mat-card-subtitle class="mat-mdc-card-subtitle p-b-4">Daily Return</mat-card-subtitle>
                  <h5 class="f-s-21 m-t-4 f-w-600 m-b-30">$78,298</h5>
               </mat-card-content>
               <apx-chart [series]="monthlyChart.series" [dataLabels]="monthlyChart.dataLabels"
                  [chart]="monthlyChart.chart" [legend]="monthlyChart.legend" [colors]="monthlyChart.colors"
                  [stroke]="monthlyChart.stroke" [tooltip]="monthlyChart.tooltip"
                  [plotOptions]="monthlyChart.plotOptions" [responsive]="monthlyChart.responsive">
               </apx-chart>
            </mat-card>
         </div>
         <div class="col-sm-6">
            <mat-card class="mat-mdc-card mdc-card cardWithShadow">
               <mat-card-content class="mat-mdc-card-content p-t-32 p-b-32 m-b-20">
                  <mat-card-subtitle class="mat-mdc-card-subtitle f-s-14 f-w-400 p-b-4">Current
                     Utilization
                  </mat-card-subtitle>
                  <h5 class="f-s-21 m-t-4 f-w-600">78,298</h5>
               </mat-card-content>
               <apx-chart [series]="monthlyChart.series" [dataLabels]="monthlyChart.dataLabels"
                  [chart]="monthlyChart.chart" [legend]="monthlyChart.legend" [colors]="monthlyChart.colors"
                  [stroke]="monthlyChart.stroke" [tooltip]="monthlyChart.tooltip"
                  [plotOptions]="monthlyChart.plotOptions" [responsive]="monthlyChart.responsive">
               </apx-chart>
            </mat-card>
         </div>
         <div class="col-12">
            <mat-card class="mat-mdc-card mdc-card cardWithShadow overflow-hidden">
               <mat-card-header class="mat-mdc-card-header d-flex align-items-center">
                  <div class="mat-mdc-card-header-text">
                     <mat-card-title class="mat-mdc-card-title">Monthly Earnings</mat-card-title>
                  </div>
                  <div class="m-l-auto">
                     <span
                        class="bg-light-primary rounded icon-48 d-flex align-items-center justify-content-center"><img
                           src="assets/images/svgs/icon-master-card-2.svg" alt="icon"></span>
                  </div>
               </mat-card-header>
               <mat-card-content class="mat-mdc-card-content">
                  <div class="d-flex align-items-center m-b-24">
                     <h4 class="f-s-24">$6,820</h4>
                     <div class="d-flex align-items-center m-l-12">
                        <button mat-mini-fab=""
                           class="bg-light-success text-success shadow-none icon-20 mdc-fab mat-mdc-fab-base mdc-fab--mini mat-mdc-mini-fab mat-accent mat-mdc-button-base"
                           mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple">
                           <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span>
                           <span class="mdc-button__label">
                              <i-tabler name="arrow-up-left" class="icon-14 d-flex" _nghost-ng-c2605515766="">
                                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M7 7l10 10"></path>
                                    <path d="M16 7l-9 0l0 9"></path>
                                 </svg>
                              </i-tabler>
                           </span>
                           <span class="mat-focus-indicator"></span><span class="mat-mdc-button-touch-target"></span>
                        </button>
                        <div class="f-s-14 f-w-600 m-l-12">+9%</div>
                     </div>
                  </div>
               </mat-card-content>
               <apx-chart [series]="monthlyChart.series" [dataLabels]="monthlyChart.dataLabels"
                  [chart]="monthlyChart.chart" [legend]="monthlyChart.legend" [colors]="monthlyChart.colors"
                  [stroke]="monthlyChart.stroke" [tooltip]="monthlyChart.tooltip"
                  [plotOptions]="monthlyChart.plotOptions" [responsive]="monthlyChart.responsive">
               </apx-chart>
            </mat-card>
         </div>
      </div>
   </div>
   <div class="col-lg-4">
      <mat-card class="mat-mdc-card mdc-card cardWithShadow">
         <mat-card-content class="mat-mdc-card-content p-y-30">
            <mat-card-title class="mat-mdc-card-title">Best Performers</mat-card-title>
            <mat-card-subtitle class="mat-mdc-card-subtitle"> </mat-card-subtitle>
            <div class="">
               <div class="d-flex justify-content-between align-items-center">
                  <!-- Icon for Top Gainers -->
                  <div class="d-flex align-items-center">
                     <span
                        class="align-items-center bg-light-success d-flex icon-40 justify-content-center rounded text-success">
                        <i-tabler name="grid-dots" class="icon-20 d-flex"></i-tabler>
                     </span>
                     <div class="m-l-16">
                        <h6 class="f-s-16 f-w-600">Top Gainers</h6>
                     </div>
                  </div>
                  <!-- Total Count -->
                  <span class="bg-light-success f-s-14 f-w-600 p-x-6 p-y-4 rounded text-success">
                     +{{ totalCount }}
                  </span>
               </div>
               <!-- Top Gainers List -->
               <div *ngFor="let gain of topGainers" class="d-flex justify-content-between align-items-center">
                  <span class="f-s-14 f-w-400">{{ gain.name }}</span>
                  <span class="f-s-12 f-w-600 p-x-6 p-y-4 rounded text-success">{{ gain.count }}</span>
               </div>
            </div>
            <div class="m-t-32 ">
               <div class="d-flex justify-content-between align-items-center">
                  <!-- Icon for Top Losers -->
                  <div class="d-flex align-items-center">
                     <span
                        class="align-items-center bg-light-error d-flex icon-40 justify-content-center rounded text-error">
                        <i-tabler name="grid-dots" class="icon-20 d-flex">
                        </i-tabler>
                     </span>
                     <div class="m-l-16">
                        <h6 class="f-s-16 f-w-600">Top Losers</h6>
                     </div>
                  </div>
                  <!-- Total Count -->
                  <span class="bg-light-error f-s-14 f-w-600 p-x-6 p-y-4 rounded text-error">
                     +{{ totalCountLosers }}
                  </span>
               </div>
               <!-- Top Losers List -->
               <div *ngFor="let loser of topLosers" class="d-flex justify-content-between align-items-center">
                  <span class="f-s-14 f-w-400">{{ loser.name }}</span>
                  <span class="f-s-12 f-w-600 p-x-6 p-y-4 rounded text-error">{{ loser.count }}</span>
               </div>
            </div>
            <!---->
         </mat-card-content>
      </mat-card>
   </div>
   <div class="col-lg-4">
      <div>
         <!-- Adding a bottom card to manage spacing -->
         <mat-card class="mat-mdc-card mdc-card cardWithShadow overflow-hidden" style="height: 160px;">
            <mat-card-header class="mat-mdc-card-header d-flex align-items-center">
               <div class="mat-mdc-card-header-text">
                  <mat-card-title class="mat-mdc-card-title">Monthly Earnings</mat-card-title>
               </div>
               <div class="m-l-auto">
                  <span class="bg-light-primary rounded icon-48 d-flex align-items-center justify-content-center"><img
                        src="assets/images/svgs/icon-master-card-2.svg" alt="icon"></span>
               </div>
            </mat-card-header>
            <mat-card-content class="mat-mdc-card-content">
               <div class="d-flex align-items-center m-b-24">
                  <h4 class="f-s-24">$6,820</h4>
                  <div class="d-flex align-items-center m-l-12">
                     <button mat-mini-fab=""
                        class="bg-light-success text-success shadow-none icon-20 mdc-fab mat-mdc-fab-base mdc-fab--mini mat-mdc-mini-fab mat-accent mat-mdc-button-base"
                        mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple">
                        <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span>
                        <span class="mdc-button__label">
                           <i-tabler name="arrow-up-left" class="icon-14 d-flex" _nghost-ng-c2605515766="">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                 <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                 <path d="M7 7l10 10"></path>
                                 <path d="M16 7l-9 0l0 9"></path>
                              </svg>
                           </i-tabler>
                        </span>
                        <span class="mat-focus-indicator"></span><span class="mat-mdc-button-touch-target"></span>
                     </button>
                     <div class="f-s-14 f-w-600 m-l-12">+9%</div>
                  </div>
               </div>
            </mat-card-content>
            <apx-chart [series]="monthlyChart.series" [dataLabels]="monthlyChart.dataLabels"
               [chart]="monthlyChart.chart" [legend]="monthlyChart.legend" [colors]="monthlyChart.colors"
               [stroke]="monthlyChart.stroke" [tooltip]="monthlyChart.tooltip" [plotOptions]="monthlyChart.plotOptions"
               [responsive]="monthlyChart.responsive">
            </apx-chart>
             <!-- Adding a bottom card to manage spacing -->
         </mat-card>
      </div>
      <mat-card class="mat-mdc-card mdc-card cardWithShadow">
         <mat-card-header class="mat-mdc-card-header">
            <div class="mat-mdc-card-header-text">
               <mat-card-title class="mat-mdc-card-title">Call Put Performance Ratio</mat-card-title>
            </div>
         </mat-card-header>
         <mat-card-content class="mat-mdc-card-content p-t-48">
            <apx-chart [series]="yearlyChart.series" [dataLabels]="yearlyChart.dataLabels" [chart]="yearlyChart.chart"
               [legend]="yearlyChart.legend" [colors]="yearlyChart.colors" [stroke]="yearlyChart.stroke"
               [tooltip]="yearlyChart.tooltip" [plotOptions]="yearlyChart.plotOptions"
               [responsive]="yearlyChart.responsive"></apx-chart>
            <div class="d-flex align-items-center justify-content-between m-t-16">
               <div class="transaction-item">
                  <div class="transaction-content">
                     <div class="icon-container">
                        <img src="assets/images/svgs/icon-paypal.svg" alt="Paypal Icon">
                     </div>
                     <div class="transaction-details">
                        <h6 class="transaction-title">Paypal</h6>
                        <span class="transaction-subtitle">Big Brands</span>
                     </div>
                  </div>
               </div>
               <div class="transaction-item">
                  <div class="transaction-content">
                     <div class="icon-container">
                        <img src="assets/images/svgs/icon-paypal.svg" alt="Paypal Icon">
                     </div>
                     <div class="transaction-details">
                        <h6 class="transaction-title">Paypal</h6>
                        <span class="transaction-subtitle">Big Brands</span>
                     </div>
                  </div>
               </div>
            </div>
         </mat-card-content>
      </mat-card>
     
   </div>
   <div class="col-lg-4">
      <mat-card class="mat-mdc-card mdc-card cardWithShadow">
         <mat-card-content class="mat-mdc-card-content p-y-30">
            <mat-card-title class="mat-mdc-card-title">Payment
               Gateways
            </mat-card-title>
            <div class="transaction-item m-t-32">
               <div class="transaction-content">
                  <div class="icon-container">
                     <img src="assets/images/svgs/icon-paypal.svg" alt="Paypal Icon">
                  </div>
                  <div class="transaction-details">
                     <h6 class="transaction-title">Paypal</h6>
                     <span class="transaction-subtitle">Big Brands</span>
                  </div>
                  <span class="transaction-amount">+$6235</span>
               </div>
            </div>
            <div class="transaction-item m-t-32">
               <div class="transaction-content">
                  <div class="icon-container">
                     <img src="assets/images/svgs/icon-paypal.svg" alt="Paypal Icon">
                  </div>
                  <div class="transaction-details">
                     <h6 class="transaction-title">Paypal</h6>
                     <span class="transaction-subtitle">Big Brands</span>
                  </div>
                  <span class="transaction-amount">+$6235</span>
               </div>
            </div>
            <div class="transaction-item m-t-32">
               <div class="transaction-content">
                  <div class="icon-container">
                     <img src="assets/images/svgs/icon-paypal.svg" alt="Paypal Icon">
                  </div>
                  <div class="transaction-details">
                     <h6 class="transaction-title">Paypal</h6>
                     <span class="transaction-subtitle">Big Brands</span>
                  </div>
                  <span class="transaction-amount">+$6235</span>
               </div>
            </div>
            <div class="transaction-item m-t-32">
               <div class="transaction-content">
                  <div class="icon-container">
                     <img src="assets/images/svgs/icon-paypal.svg" alt="Paypal Icon">
                  </div>
                  <div class="transaction-details">
                     <h6 class="transaction-title">Paypal</h6>
                     <span class="transaction-subtitle">Big Brands</span>
                  </div>
                  <span class="transaction-amount">+$6235</span>
               </div>
            </div>
            <div class="transaction-item m-t-32 m-b-32">
               <div class="transaction-content">
                  <div class="icon-container">
                     <img src="assets/images/svgs/icon-paypal.svg" alt="Paypal Icon">
                  </div>
                  <div class="transaction-details">
                     <h6 class="transaction-title">Paypal</h6>
                     <span class="transaction-subtitle">Big Brands</span>
                  </div>
                  <span class="transaction-amount">+$6235</span>
               </div>
            </div>
            <div class="transaction-item m-t-32 m-b-20">
               <div class="transaction-content">
                  <div class="icon-container">
                     <img src="assets/images/svgs/icon-paypal.svg" alt="Paypal Icon">
                  </div>
                  <div class="transaction-details">
                     <h6 class="transaction-title">Paypal</h6>
                     <span class="transaction-subtitle">Big Brands</span>
                  </div>
                  <span class="transaction-amount">+$6235</span>
               </div>
            </div>
            <button mat-stroked-button="" color="primary"
               class="w-100 m-t-8 mdc-button mdc-button--outlined mat-mdc-outlined-button mat-primary mat-mdc-button-base"
               mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple"><span
                  class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span class="mdc-button__label">
                  View
                  all Transctions </span><span class="mat-focus-indicator"></span><span
                  class="mat-mdc-button-touch-target"></span></button>
         </mat-card-content>
      </mat-card>
   </div>
   <div class="col-lg-6">
      <mat-card class="cardWithShadow">
         <mat-card-content class="p-24">
           <mat-card-title>Latest Closed Positions</mat-card-title>
           <div class="table-responsive m-t-16">
             <table mat-table [dataSource]="dataSource" class="w-100">
               <!-- Position Column -->
               <ng-container matColumnDef="assigned">
                 <th
                   mat-header-cell
                   *matHeaderCellDef
                   class="f-w-600 mat-subtitle-1 f-s-14"
                 >
                   Assigned
                 </th>
                 <td mat-cell *matCellDef="let element">
                   <div class="d-flex align-items-center">
                     <img
                       [src]="element.imagePath"
                       alt="users"
                       width="40"
                       class="rounded-circle"
                     />
                     <div class="m-l-16">
                       <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                         {{ element.uname }}
                       </h6>
                       <span class="mat-body-1 f-s-12">
                         {{ element.position }}
                       </span>
                     </div>
                   </div>
                 </td>
               </ng-container>
   
               <!-- Name Column -->
               <ng-container matColumnDef="name">
                 <th
                   mat-header-cell
                   *matHeaderCellDef
                   class="f-w-600 mat-subtitle-1 f-s-14"
                 >
                   Name
                 </th>
                 <td mat-cell *matCellDef="let element" class="mat-body-1">
                   {{ element.productName }}
                 </td>
               </ng-container>
   
               <!-- Weight Column -->
               <ng-container matColumnDef="priority">
                 <th
                   mat-header-cell
                   *matHeaderCellDef
                   class="f-w-600 mat-subtitle-1 f-s-14"
                 >
                   Priority
                 </th>
                 <td mat-cell *matCellDef="let element">
                   <ng-template [ngIf]="element.priority == 'low'">
                     <span
                       class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12"
                     >
                       {{ element.priority | titlecase }}
                     </span>
                   </ng-template>
                   <ng-template [ngIf]="element.priority == 'medium'">
                     <span
                       class="bg-light-primary text-primary rounded f-w-600 p-6 p-y-4 f-s-12"
                     >
                       {{ element.priority | titlecase }}
                     </span>
                   </ng-template>
                   <ng-template [ngIf]="element.priority == 'high'">
                     <span
                       class="bg-light-warning text-warning rounded f-w-600 p-6 p-y-4 f-s-12"
                     >
                       {{ element.priority | titlecase }}
                     </span>
                   </ng-template>
                   <ng-template [ngIf]="element.priority == 'critical'">
                     <span
                       class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12"
                     >
                       {{ element.priority | titlecase }}
                     </span>
                   </ng-template>
                   <ng-template [ngIf]="element.priority == 'moderate'">
                     <span
                       class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12"
                     >
                       {{ element.priority | titlecase }}
                     </span>
                   </ng-template>
                 </td>
               </ng-container>
   
               <!-- Symbol Column -->
               <ng-container matColumnDef="budget">
                 <th
                   mat-header-cell
                   *matHeaderCellDef
                   class="f-w-600 mat-subtitle-1 f-s-14"
                 >
                   Budget
                 </th>
                 <td mat-cell *matCellDef="let element" class="mat-body-1">
                   ${{ element.budget }}k
                 </td>
               </ng-container>
   
               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
             </table>
           </div>
         </mat-card-content>
       </mat-card>
   </div>
   <div class="col-lg-6">
      <mat-card class="cardWithShadow">
         <mat-card-content class="p-24">
           <mat-card-title>Latest Open Positions</mat-card-title>
           <div class="table-responsive m-t-16">
             <table mat-table [dataSource]="dataSource" class="w-100">
               <!-- Position Column -->
               <ng-container matColumnDef="assigned">
                 <th
                   mat-header-cell
                   *matHeaderCellDef
                   class="f-w-600 mat-subtitle-1 f-s-14"
                 >
                   Assigned
                 </th>
                 <td mat-cell *matCellDef="let element">
                   <div class="d-flex align-items-center">
                     <img
                       [src]="element.imagePath"
                       alt="users"
                       width="40"
                       class="rounded-circle"
                     />
                     <div class="m-l-16">
                       <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                         {{ element.uname }}
                       </h6>
                       <span class="mat-body-1 f-s-12">
                         {{ element.position }}
                       </span>
                     </div>
                   </div>
                 </td>
               </ng-container>
   
               <!-- Name Column -->
               <ng-container matColumnDef="name">
                 <th
                   mat-header-cell
                   *matHeaderCellDef
                   class="f-w-600 mat-subtitle-1 f-s-14"
                 >
                   Name
                 </th>
                 <td mat-cell *matCellDef="let element" class="mat-body-1">
                   {{ element.productName }}
                 </td>
               </ng-container>
   
               <!-- Weight Column -->
               <ng-container matColumnDef="priority">
                 <th
                   mat-header-cell
                   *matHeaderCellDef
                   class="f-w-600 mat-subtitle-1 f-s-14"
                 >
                   Priority
                 </th>
                 <td mat-cell *matCellDef="let element">
                   <ng-template [ngIf]="element.priority == 'low'">
                     <span
                       class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12"
                     >
                       {{ element.priority | titlecase }}
                     </span>
                   </ng-template>
                   <ng-template [ngIf]="element.priority == 'medium'">
                     <span
                       class="bg-light-primary text-primary rounded f-w-600 p-6 p-y-4 f-s-12"
                     >
                       {{ element.priority | titlecase }}
                     </span>
                   </ng-template>
                   <ng-template [ngIf]="element.priority == 'high'">
                     <span
                       class="bg-light-warning text-warning rounded f-w-600 p-6 p-y-4 f-s-12"
                     >
                       {{ element.priority | titlecase }}
                     </span>
                   </ng-template>
                   <ng-template [ngIf]="element.priority == 'critical'">
                     <span
                       class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12"
                     >
                       {{ element.priority | titlecase }}
                     </span>
                   </ng-template>
                   <ng-template [ngIf]="element.priority == 'moderate'">
                     <span
                       class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12"
                     >
                       {{ element.priority | titlecase }}
                     </span>
                   </ng-template>
                 </td>
               </ng-container>
   
               <!-- Symbol Column -->
               <ng-container matColumnDef="budget">
                 <th
                   mat-header-cell
                   *matHeaderCellDef
                   class="f-w-600 mat-subtitle-1 f-s-14"
                 >
                   Budget
                 </th>
                 <td mat-cell *matCellDef="let element" class="mat-body-1">
                   ${{ element.budget }}k
                 </td>
               </ng-container>
   
               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
             </table>
           </div>
         </mat-card-content>
       </mat-card>
   </div>
</div>