<div>
    <!-- Top Section -->
    <div class="bg-light-primary rounded p-y-30 p-x-24 m-b-30 overflow-hidden">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16">Trading</h4>
                <div class="d-flex align-items-center overflow-hidden">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a>Dashboard</a></li>
                        <li class="breadcrumb-item">
                            <i-tabler name="circle-filled" class="icon-8">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M7 3.34a10 10 0 1 1 -4.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 4.995 -8.336z"
                                        stroke-width="0" fill="currentColor"></path>
                                </svg>
                            </i-tabler>
                        </li>
                        <li class="breadcrumb-item active">Trade View</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 text-right position-relative">
                <div class="breadcrumb-icon"><img src="/assets/images/breadcrumb/ChatBc.png" alt="breadcrumb"
                        width="165">
                </div>
            </div>
        </div>
    </div>
    <!-- Top Section -->
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title class="mat-subtitle-2 f-s-14 f-w-600"> Search & Filters </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">

                <div class="row">
                    <div class="col-md-6">
                        <h3>Search Filters</h3>
                        <!-- <div class="col-md-6"> -->
                        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Symbol</mat-label>
                        <mat-form-field appearance="outline" color="primary" class="w-100">
                            <input matInput formControlName="F_column1" type="text">
                        </mat-form-field>
                        <!-- </div>
                        <div class="col-md-6"> -->
                        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Status</mat-label>
                        <mat-form-field appearance="outline" color="primary" class="w-100">
                            <input matInput formControlName="F_column2" type="text">
                        </mat-form-field>
                        <!-- </div> -->
                        <!-- <div class="col-md-4">
                        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Column 3</mat-label>
                        <mat-form-field appearance="outline" color="primary" class="w-100">
                            <input matInput formControlName="F_column3" type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Column 4</mat-label>
                        <mat-form-field appearance="outline" color="primary" class="w-100">
                            <input matInput formControlName="F_column4" type="text">
                        </mat-form-field>
                    </div>

                    <div class="col-md-4">
                        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Column 5</mat-label>
                        <mat-form-field appearance="outline" color="primary" class="w-100">
                            <input matInput formControlName="F_column5" type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Column 6</mat-label>
                        <mat-form-field appearance="outline" color="primary" class="w-100">
                            <input matInput formControlName="F_column6" type="text">
                        </mat-form-field>
                    </div> -->
                    </div>
                    <div class="col-md-6">
                        <h3>Column Filters</h3>
                        <div class="col-md-12">

                        <mat-radio-group formControlName="sortingOrder" aria-label="Select an option">
                            <mat-radio-button value="asc">Ascending</mat-radio-button>
                            <mat-radio-button value="desc">Descending</mat-radio-button>
                        </mat-radio-group>
                    </div>
                        <div class="col-md-12">
                            <mat-form-field appearance="outline" class="p-10">
                                <mat-label>Column Order</mat-label>
                                <mat-select name="orderColumn" formControlName="sortingColumn">
                                    @for (col of orderDropdown; track col) {
                                    <mat-option [value]="col">{{col|titlecase}}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                </div>

                <!-- </mat-card-content> -->
                <div class="text-right p-24 p-t-0">
                    <button mat-flat-button color="primary" class="m-r-8" type="submit">Search</button>
                    <button mat-flat-button color="warn" class="m-r-8" type="button" (click)="onReset()">Reset</button>
                </div>
                <!-- </mat-card> -->
            </form>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="p-t-15">
    <mat-card class="mat-mdc-card mdc-card chat-app cardWithShadow p-14 w-100 h-100">
        <mat-tab-group animationDuration="0ms" class="mat-mdc-tab-group mat-primary" [selectedIndex]="activeTabIndex">
            <mat-tab label="Order Book">
                <app-order-book [searchData]="this.searchData"></app-order-book>
            </mat-tab>
            <mat-tab label="Trade Book">
                <app-trade-book [searchData]="this.searchData"></app-trade-book>
            </mat-tab>
            <mat-tab label="Position">
                <app-position [searchData]="this.searchData"></app-position>
            </mat-tab>
            <mat-tab label="Holdings">
                <app-holding [searchData]="this.searchData"></app-holding>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>