<mat-card class="mat-mdc-card mdc-card chat-app cardWithShadow p-14 w-100 h-100">
    <mat-tab-group animationDuration="0ms" class="mat-mdc-tab-group mat-primary">
        <mat-tab label="Order Book">
            <app-order-book></app-order-book>
        </mat-tab>
        <mat-tab label="Trade Book">
            <app-trade-book></app-trade-book>
        </mat-tab>
        <mat-tab label="Position">
            <app-position></app-position>
        </mat-tab>
        <mat-tab label="Holdings">
            <app-holding></app-holding>
        </mat-tab>
    </mat-tab-group>
</mat-card>