/* filepath: /D:/Study/OptumFlex/dealer-portal-v3/src/app/layouts/top-navigation/top-navigation.component.scss */
.topbar {
  display: flex;
  align-items: center;
  gap: 16px;
  box-shadow: rgba(145, 158, 171, .12) 0px 1px 16px;
}

@media (max-width: 768px) {
  .topbar {
    flex-direction: column;
    align-items: flex-start;
  }
}

.mat-mdc-menu-panel {
  min-width: 350px !important;
  max-width: 500px !important;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  outline: 0;
  border-radius: var(--mat-menu-container-shape, var(--mat-app-corner-extra-small));
  background-color: var(--mat-menu-container-color, var(--mat-app-surface-container));
  will-change: transform, opacity;
}

.mat-mdc-menu-content {
  margin: 0;
  padding: 0px 0 !important;
  outline: 0;
}

.active-link {
  // color: #ff4081 !important; /* Highlight color */
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Background shadow */
  background-color: #f0f0f0;
  /* Light grey background */
  border-radius: 4px;
  /* Optional: to make the shadow look better */
}