/* Highlight unread notifications */
.unread {
    background-color: #f5f5f5;
    /* Light grey background for unread notifications */
    border-left: 4px solid #007bff;
    /* Blue left border for unread notifications */
}

/* Read notifications */
.read {
    background-color: #ffffff;
    /* White background for read notifications */
    border-left: 4px solid #cccccc;
    /* Grey left border for read notifications */
}

.mat-mdc-menu-item-text {
    padding: 12px 16px;
    /* Adjust padding for the text inside menu items */
}

.notification-list {
  max-height: 300px; /* Set the height of the scrollable area */
  overflow-y: auto;  /* Enable vertical scrolling */
  padding: 0 16px;   /* Optional: Add some padding */
}

/* Optional: Customize the scrollbar */
.notification-list::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.notification-list::-webkit-scrollbar-thumb {
  background: #b0bec5; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

.notification-list::-webkit-scrollbar-thumb:hover {
  background: #78909c; /* Color on hover */
}
